<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Biodigestor</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../public/style.css'>
</head>
<body>
    <header>
      <h1>Temperatura</h1>
    </header>

    <nav>
       
    </nav>

    {% block content %}
    {% endblock content %}
    <footer>

    </footer>
    <script src="src/index.js" type="module"></script>
</body>
</html>