<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Biodigestor</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/style.css'>
    <style> @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
</style>
</head>
<body>
    <header>
      <h1>Temperatura</h1>
    </header>

    {% block content %}
    {% endblock content %}

</body>
</html>
